body {
  background: white;
}
.container {
  max-width: 1200px;
  margin: 45px auto;
  padding: 30px;
  background: aliceblue;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  background: green;
  padding: 30px;
  color: white;
  font-weight: bold;
  max-width: 1000;
}
.main {
  padding: 60px;
}
.heading {
  color: green;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 68px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.tagLine {
  text-align: center;
  font-size: 25px;
  font-weight: ;
  color: brown;
  opacity: 5em;
}
.runda {
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
  margin-top: 40px;
  border-radius: 6px;
}
