body {
  background: white;
}
.container-site {
  max-width: 1200px;
  margin: 45px auto;
  padding: 80px;
  background: aliceblue;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  background: green;
  padding: 30px;
  color: white;
  font-weight: bold;
  max-width: 1000;
}
.main {
  padding: 60px;
}
.heading {
  color: green;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 68px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.tagLine {
  text-align: center;
  font-size: 25px;
  font-weight: 10px;
  color: brown;
  font: 1 em sans-serif;
}
.runda {
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
  margin-top: 40px;
  border-radius: 6px;
}
.testimonials {
  display: flex;
  justify-content: space-between;
}
.clientTestimony {
  position: relative;
  top: 40px;
  left: 80px;
  padding-right: 20px;
  margin-right: 60px;
  font-size: larger;
}
.footer {
  background-color: rgb(198, 226, 226);
  padding-top: 80px;
  padding-bottom: 120px;
  margin-bottom: 20px;
  margin-top: 80px;
}
li {
  list-style: none;
}
.testimonials {
  background-color: azure;
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feedback {
  border-radius: 50%;
}

.contactButton {
  margin: 0 auto !important;
  display: block !important;
  max-width: 20%;
}
.footerInfo {
  font-size: 22px !important;
}
.shortcuts {
  text-decoration: none !important;
  font-size: 20px;
  line-height: 1.5;
  color: brown;
}
.shortcuts:hover {
  color: green !important;
}
.socialMedia {
  color: green;
  border-radius: 50%;
  margin: 30px;
  font-size: 30px;
  margin: 0 5px;
}
.socialMedia:hover {
  color: blue;
}
.socials {
  justify-content: center !important;
}
.callback {
  background-color: azure;
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.formControl {
  width: 50% !important;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.clientFeedback {
  margin-bottom: 60px;
}
